body{
    margin: 0%;
}
h1{
    font-family: 'Nunito', sans-serif;
    font-size: 70px;
}
.header-section{
    background-image: url(images/pexels-luis-del-río-15286.jpg);
    background-repeat: no-repeat;
    margin-top: 0%;
    width: 100%;
    height: 600px;
    padding-top: 10px;
}
.header-div{
    margin-left: 100px;
}