body{
    margin: 0%;
    font-family: 'Nunito', sans-serif;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 50px;
}
h5{
    font-size: 20px;
    font-weight: 700;
}

.header-section{
    background-image: linear-gradient(to right,black,rgba(0, 0, 0, 0)), url(images/pexels-luis-del-río-15286.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    padding-top: 10px;
}
.header-div{
    margin-left: 100px;
    margin-right: 50%;
    color: white;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 255, 255, 0.575);
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
}
.second-section{
    margin-top: 90px;
    margin-left: 100px;
}
.first-blocks{
    display: flex;
}
.first-blocks img{
    width: 70%;
    margin-left: 100px;
    border-radius: 10px;
}

.second-div-block{
    display: flex;
}
.second-div-block img{
    max-width: 60%;
    border-radius: 10px;
}
#para-block{
    margin-left: -300px;
    margin-right: 150px;
}
.para-and-header{
    text-align: center;
    margin: 0 25% 0 25%;
}
.third-section{
    margin-top: 90px;
}
.fourth-section{
    margin-top: 90px;    
}
.first-two-block{
    display: flex;
    margin-left: 15%;
    margin-right: 10%;
}
.icon-block{
    display: flex;
    margin-right: px;
    background-color: rgba(0, 255, 255, 0.096);
    border-radius: 10px;
    padding: 0% 1%;
    margin-right: 5%;
}
.icon-block img{
    width: 50%;
    margin-top: 15%;
    margin-left: 25%;
}
.icon-para{
    margin-top: 1%;
    text-align: justify;
}
.header-five-class{
    margin-bottom: 0;
    margin-top: 25px;
}
.icon-header-para{
    margin-right: 10px;

}
.second-two-block{
    display: flex;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 20px;
}